{% extends 'base.html' %}
{% comment %} {% extends 'account/base.html' %} {% endcomment %}

{% load i18n %}

{% block title %}
| Logout page
{% endblock %}

{% block metadata %}
<meta name="description" content="Logout page, log out of your account" />
{% endblock %}


{% block head_title %}
  {% trans 'Sign Out' %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="mt-5 mb-3">{% trans 'Sign Out' %}</h1>

        <p class="mb-3">
          {% trans 'Are you sure you want to sign out?' %}
        </p>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="button mb-5" type="submit">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
