{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <div class="container mb-5">
    <div class="row">
      <div class="col">
        <img class="hero-img" src="{% static 'images/home_page/hero_img.jpg' %}" alt="Elegant dining area" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 justify-content-center d-flex align-self-center mb-5">
        <a href="">
          <div class="card text-center  align-self-center">
            <img src="{% static 'images/home_page/menu_img.jpg' %}" class="card-img-top short-card" alt="2 dishes of food with fresh ingredients"/>
            <div class="card-body">
              <p class="card-text">Word</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 justify-content-center mb-5">
        <a href="">
          <div class="card text-center">
            <img src="{% static 'images/home_page/menu_img.jpg' %}" class="card-img-top" alt="2 dishes of food with fresh ingredients"/>
            <div class="card-body">
              <p class="card-text">Word</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 justify-content-center d-flex align-self-center mb-5">
        <a href="">
          <div class="card text-center">
            <img src="{% static 'images/home_page/menu_img.jpg' %}" class="card-img-top short-card" alt="2 dishes of food with fresh ingredients" />
            <div class="card-body">
              <p class="card-text">Word</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
