{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
| Booking form
{% endblock %}

{% block metadata %}
<meta name="description" content="Booking form, create your booking here." />
{% endblock %}

{% block content %}
{% comment %} If a user is_authenticated display the booking_form {% endcomment %}
  {% if user.is_authenticated %}
    <section class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center mb-4">Reservations</h1>
        </div>
        <div class="col-12">
        {% comment %}Action is injected dynamically within views{% endcomment %}
          <form method="POST" action="">
            {% csrf_token %}
            {{ booking_form|crispy }}
            <div class="d-flex justify-content-center mb-4">
              <button type="submit" class="button">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  {% else %}
  {% comment %} In the unlikely scenario a user is not is_authenticated
  and they arrive to this page  {% endcomment %}
    <h1>Please login first before making a booking</h1>
  {% endif %}
{% endblock %}