{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  {% comment %} <h1>{{ bookings }}</h1> {% endcomment %}

  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="d-flex justify-content-center mb-4">
        <h1>My profile</h1>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-center mb-4">My details</h2>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <hr />
              <p>Username: {{ user }}</p>
              {% if user.email %}
                <p>Email: {{ user.email }}</p>
              {% else %}
                <p>No email provided</p>
              {% endif %}
              <p>ADD NEWSLETTER, MAYBE CHECKBOX OR INPUT</p>
              <hr />
              {% comment %}Hidden form for editing bookings{% endcomment %}
              <div class="container">
                {% comment %}Adding user authentication for extra layer of protection{% endcomment %}
                {% if user.is_authenticated %}
                  <h3 class="text-center">Edit your booking</h3>
                  <form id="bookingForm" method="POST">
                    {{ booking_form|crispy }}
                    {% csrf_token %}
                    <div class="d-flex justify-content-center mb-5">
                      <button id="updateBookingBtn" class="button" type="submit">Update</button>
                    </div>
                  </form>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-center mb-4">My bookings</h2>
        {% for booking in page_object %}
          <div class="row">
            <div class="col-12 border-bottom d-flex">
              <div class="col-11 col-md-10">
                <p>Date: {{ booking.booking_date }}</p>
                <p>Time: {{ booking.booking_time|time:'H:i' }}</p>
                <p>Guests: {{ booking.guests_qty }}</p>
                <p>Comments: {{ booking.comment }}</p>
              </div>
              {% if user.is_authenticated and booking.user == user %}
                <div class="col-1 col-md-2 justify-content-right booking-buttons-container" data-booking_id="{{ booking.booking_id }}" data-booking_date="{{ booking.booking_date|date:'Y-m-d' }}" data-booking_time="{{ booking.booking_time|time:'H:i' }}" data-guests_qty="{{ booking.guests_qty }}" data-comment="{{ booking.comment }}" data-booking_slug="{{ booking.slug }}">
                  <button class="delete-btn" data-booking_id="{{ booking.booking_id }}"><i class="fa-solid fa-xmark mb-4"></i></button>
                  <button class="edit-btn" data-booking_id="{{ booking.booking_id }}"><i class="fa-solid fa-pencil"></i></button>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="pagination container mt-5 justify-content-center">
        <div class="row justify-content-center">
          <div class="col-12">
            {% comment %}PAGINATION CODE{% endcomment %}
            {% if page_object.has_previous %}
              <a href="?page=1"></a>
              <a class=" m-3 underline" href="?page={{ page_object.previous_page_number }}">Previous</a>
            {% endif %}
            
            <span>Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}</span>

            {% if page_object.has_next %}
              <a class=" m-3 underline" href="?page={{ page_object.next_page_number }}">Next </a>
              <a class="underline" href="?page={{ page_object.paginator.num_pages }}">Last </a>
            {% endif %}
            {% comment %}END OF PAGINATION CODE{% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete confirmation modal copied from Code institute codestar blog -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to delete your comment? This action cannot be undone.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extras %}
  {% comment %}Script to connect booking js{% endcomment %}
  <script src="{% static 'js/booking.js' %}"></script>
{% endblock %}
