/* CSS Variables */

:root {
    --clr-primary: #f2eee8;
    /* --clr-secondary: */
    --clr-black: #454545;
    --clr-white: #ffffff;

    --text-primary: sans serif, sans;
    --text-secondary: "PT Serif", serif;
    
    --fs-heading-1: 3.125rem; /* 50px */
    --fs-heading-2: 2.5rem; /* 40px */
    --fs-heading-3: 2.188rem; /* 35px */
    --fs-heading-4: 1.875rem; /* 30px */
    --fs-subheading: 1.25rem; /* 20px */
    --fs-body: 1rem; /* 16px */

    --fw-extra-bold: 800;
    --fw-bold: 700;
    --fw-regular: 400;

    --border-radius: 10px;
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --transition-duration: 0.3s;
}

/* Global styles */
/* setting all styles across the website here to increase uniformity
across the code and reduce unexpected behaviours and styles */

h1 {
    font-size: var(--fs-heading-1)!important;
}

h2 {
    font-size: var(--fs-heading-2)!important;
}

h3 {
    font-size: var(--fs-heading-3)!important;
}

h4 {
    font-size: var(--fs-heading-4)!important;
}

.subheading {
    font-size: var(--fs-subheading)!important;
}
p {
    font-size: var(--fs-body)!important;
}

input,
button,
select,
textarea {
    border: none;
    color: inherit;
    font: inherit;
    background: none;
}

ol,
ul {
    list-style: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
button:hover {
    cursor: pointer;
}

*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover!important;
    width: 100%!important;
    border-radius: 0 !important;
}

hr {
    color: rgba(0, 0, 0, 0.4)
}
/* Setting body and HTMl styles to take up the full page */
/* Shift content from left to center incase of XL devices */
html {
    height: 100%;
    display: flex;
    justify-content: center;
}

/* Limit page to 1800px for XL devices*/

body {
    min-height: 100%;
    max-width: 1800px!important;
    background-color: var(--clr-white);
}

/* HEADER STYLES */

/* Company header styles */
.company-header h1 {
    font-family: var(--text-secondary);
    padding-top: 5px;
    font-size: 35px;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--clr-white);
    box-shadow: var(--box-shadow);
    z-index: 99;
}

/* Navbar styles */

nav li {
    padding-left: 10px;
    padding-right: 10px;
}

/* Adds a line below the nav link on hover */
.nav-link {
    position: relative;
    display: inline-block;
}

.nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: var(--clr-black);
    height: 1px;
    width: 0;
    transition: width 300ms;
  }
  
  .nav-link:hover:after {
    width: 100%;
  }

  /* Removes the line from the CTA on hover */
  .nav-link-cta {
    position: relative;
  }

  .nav-link-cta:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: var(--clr-black);
    height: 1px;
    width: 100%;
    transition: width 300ms;
  }

  .nav-link-cta:hover:after {
    width: 0;
  }
/*  MAIN CONTENT */

/* Push down main content below header at the top of page */
main {
    padding-top: 200px;
    padding-bottom: 2px;
}

/* Cards */
.card {
    background-color: var(--clr-primary)!important;
    border: none!important;
    border-radius: 0 !important;
}

.short-card {
    max-height: 550px;
}

.tall-card {
    max-height: 800px;
}
.home-card-text {
    font-size: var(--fs-heading-4)!important;
    font-family: var(--text-secondary);
}
/* FOOTER STYLES */

footer {
    padding-top: 2px;
    /* position: fixed; */
    width: 100%;
    left: 0;
    bottom: 0;
}

i {
    font-size: 40px;
    color: var(--clr-black);
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .card-img-top {
        max-height: 600px!important;
    }
}