{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
| My Profile
{% endblock %}

{% block metadata %}
<meta name="description" content="My profile page for the ember and ash restaurant. You can see, edit and delete your bookings here and also see your profile details." />
{% endblock %}

{% block content %}
  <div class="container" id="profile-page">
    <div class="row d-flex justify-content-center">
      <div class="d-flex justify-content-center mb-4">
        <h1>My profile</h1>
      </div>
      {% comment %}My details section{% endcomment %}
      <div class="col-12 col-md-6">
        <h2 class="text-center mb-4">My details</h2>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <hr />
              <p>Username: {{ user }}</p>
              {% if user.email %}
                <p>Email: {{ user.email }}</p>
              {% else %}
                <p>No email provided</p>
              {% endif %}
              <hr />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        {% comment %}My bookings section, 5 bookings displayed per page{% endcomment %}
        <h2 class="text-center mb-4">My bookings</h2>
        {% for booking in page_object %}
          <div class="row">
            <div class="col-12 border-bottom d-flex">
              <div class="col-11 col-md-10">
                <p>Date: {{ booking.booking_date }}</p>
                <p>Time: {{ booking.booking_time|time:'H:i' }}</p>
                <p>Guests: {{ booking.guests_qty }}</p>
                <p>Comments: {{ booking.comment }}</p>
              </div>
              {% if user.is_authenticated and booking.user == user %}
                <div class="col-1 col-md-2 justify-content-right booking-buttons-container" data-booking_id="{{ booking.id }}">
                  <button class="delete-btn" aria-label="Delete button(opens a modal)"><i class="fa-solid fa-xmark mb-4" aria-label="Delete button icon(opens a modal)"></i></button>
                  <a class="edit-btn" href="{% url 'booking_form_edit' booking.id %}" aria-label="Edit button(redirects page)"><i class="fa-solid fa-pencil" aria-label="Edit button icon(opens a modal)" data-booking_id="{{ booking.id }}" data-booking_date="{{ booking.booking_date|date:'Y-m-d' }}" data-booking_time="{{ booking.booking_time|time:'H:i' }}" data-guests_qty="{{ booking.guests_qty }}" data-booking_comment="{{ booking.comment }}"></i></a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      {% comment %}Pagination page control{% endcomment %}
      <div class="pagination container mt-5 justify-content-center">
        <div class="row justify-content-center">
          <div class="col-12">
            {% if page_object.has_previous %}
              <a class="underline" href="?page=1" aria-label="Go back to the first page">First</a>
              <a class="m-3 underline" href="?page={{ page_object.previous_page_number }}" aria-label="Go to previous page">Previous</a>
            {% endif %}
            <span>Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}</span>
            {% if page_object.has_next %}
              <a aria-label="Go to next page" class="m-3 underline" href="?page={{ page_object.next_page_number }}">Next</a>
              <a aria-label="Go to last page" class="underline" href="?page={{ page_object.paginator.num_pages }}">Last</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete confirmation modal copied from Code institute codestar blog -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete booking?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to delete your booking? This action cannot be undone.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn btn-danger" aria-label="Confirm booking deletion">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extras %}
  {% comment %}Script to connect booking js{% endcomment %}
  <script src="{% static 'js/booking.js' %}"></script>
{% endblock %}
