{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">

        <h1 class="text-center">Menu's</h1>
        
            
        <div class="col-12 col-md-6 justify-content-center d-flex align-self-center mt-4 mb-5">
            <a href="{% url 'breakfast_menu' %}">
              <div class="card text-center">
                <img src="{% static 'images/home_page/menu_img.jpg' %}" class="card-img-top short-card" alt="2 dishes of food with fresh ingredients" />
                <div class="card-body">
                  <p class="home-card-text">Breakfast</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-6 justify-content-center d-flex align-self-center mt-4 mb-5">
            <a href="{% url 'dinner_menu' %}">
              <div class="card text-center">
                <img src="{% static 'images/home_page/menu_img.jpg' %}" class="card-img-top short-card" alt="2 dishes of food with fresh ingredients" />
                <div class="card-body">
                  <p class="home-card-text">Dinner</p>
                </div>
              </div>
            </a>
          </div>


        {% comment %} {% for menu_item in menu %}
            <div class="col-12 col-md-6 col-lg-4">

            </div>
        {% endfor %} {% endcomment %}
    </div>
</div>

{% endblock %}