{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mb-5">Dinner Menu</h1>
      </div>
      {% comment %}If user is_staff then this adds an edit and delete button{% endcomment %}
      {% if user.is_staff %}
        {% comment %}Loop to render each item within the dinner menu{% endcomment %}
        {% for item in dinner_menu %}
          <div class="col-12 col-md-6 justify-content-center d-flex align-self-center mb-5">
            <div class="card text-center menu-item-card-container">
              <div class="menu-item-buttons-container" data-title="{{ item.title }}" data-description="{{ item.description }}" data-image="{{ item.img.url }}" data-price="{{ item.price }}" data-meal-category="{{ item.meal_category }}">
                {% comment %} Edit btn uses anchor instead of button to open a new page {% endcomment %}
                {% comment %}Opens a new page to edit the selected menu item{% endcomment %}
                <a class="button menu-edit-item-button" href="{% url 'menu_edit' item.slug %}">Edit</a>
                {% comment %} Delete icon uses button instead of anchor as it opens a modal {% endcomment %}
                {% comment %}Opens a delete confirmation modal{% endcomment %}
                <button type="button" class="menu-delete-item-button" data-id="{{ item.id }}"><i class="fa-solid fa-xmark mb-4" data-id="{{ item.id }}"></i></button>
              </div>
              <img src="{{ item.img.url }}" class="card-img-top menu-item-card-img" alt="{{ item.description }}" />
              <div class="card-body">
                <h2 class="menu-card-title">{{ item.title }}</h2>
                <p class="menu-card- body">{{ item.description }}</p>
                <p class="subheading">£{{ item.price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        {% comment %}Renders the menu items without edit and delete buttons{% endcomment %}
        {% else %}
        {% for item in dinner_menu %}
          <div class="col-12 col-md-6 justify-content-center d-flex align-self-center mb-5">
            <div class="card text-center menu-item-card-container">
              <img src="{{ item.img.url }}" class="card-img-top menu-item-card-img" alt="{{ item.description }}" />
              <div class="card-body">
                <h2 class="menu-card-title">{{ item.title }}</h2>
                <p class="menu-card- body">{{ item.description }}</p>
                <p class="subheading">£{{ item.price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </section>
  <!-- Delete confirmation modal copied from Code institute codestar blog -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to delete this menu item? This action cannot be undone.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extras %}
  {% comment %}Script to connect menu js{% endcomment %}
  <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
