{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="container">
    <div class="row">
      <h1 class="text-center">Dinner menu</h1>
      {% if user.is_staff %}
        {% for item in dinner_menu %}
          <div class="col-12 col-md-6 justify-content-center d-flex align-self-center mb-5">
            <div class="card text-center">
              <div class="menu-item-buttons-container" data-id="{{ item.pk }}" data-title="{{ item.title }}" data-description="{{ item.description }}" data-image="{{ item.img.url }}" data-price="{{ item.price }}" data-meal-category="{{ item.meal_category }}">
                <a class="button menu-edit-item-button" href="{% url 'menu_edit' item.slug %}">Edit</a>
                <button type="button" class="button menu-delete-item-button" data-id="{{ item.id }}"><i class="fa-solid fa-xmark mb-4" data-id="{{ item.id }}"></i></button>
              </div>
              <img src="{{ item.img.url }}" class="card-img-top short-card" alt="{{ item.description }}" />
              <div class="card-body">
                <h2 class="menu-card-title">{{ item.title }}</h2>
                <p class="menu-card- body">{{ item.description }}</p>
                <p class="subheading">£{{ item.price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% for item in dinner_menu %}
          <div class="col-12 col-md-6 justify-content-center d-flex align-self-center mb-5">
            <div class="card text-center">
              <img src="{{ item.img.url }}" class="card-img-top short-card" alt="{{ item.description }}" />
              <div class="card-body">
                <h2 class="menu-card-title">{{ item.title }}</h2>
                <p class="menu-card- body">{{ item.description }}</p>
                <p class="subheading">£{{ item.price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </section>
  <!-- Delete confirmation modal copied from Code insti tute codestar blog -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to delete your comment? This action cannot be undone.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extras %}
  {% comment %}Script to connect menu js{% endcomment %}
  <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
