{% extend 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated and user.is_staff == True %}
    <section>
        <div class="container">
            <div class="row">
                <h1>Create a menu item</h1>
                <form method="POST" action="">
                    {{ menu_form|crispy}}
                    {% csrf token %}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}