{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="text-center">403 Error - Forbidden</h1>
        <h2 class="text-center">You don't have permission to access this resource from this server</h2> 
        <h3 class="text-center">The content exists, but access is blocked</h3> 
        <div class=" d-flex justify-content-center"> 
            <a class="button" href="{% url 'home_urls' %}">Take me back home</a>
        </div>
    </div>
</div>   

{% endblock %}