{% extends "base.html" %}
{% block title %}
| 404 Error
{% endblock %}

{% block metadata %}
<meta name="description" content="404 Error, page not found" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="text-center">404 Error</h1>
        <h2 class="text-center">Error page not found</h2> 
        <div class=" d-flex justify-content-center">
            <a class="button" href="{% url 'home_urls' %}">Take me back home</a>
        </div>
    </div>
</div>   

{% endblock %}