{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <div class="container mb-5">
    <div class="row">
      <div class="col-12 hero-img-container">
        <img class="hero-img" src="{% static 'images/home_page/hero_img.jpg' %}" alt="Elegant dining area" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center card-home-container">
      <div class="col-12 col-md-6 col-lg-4 justify-content-center d-flex align-self-center mb-5">
        <a href="">
          <div class="card card-home text-center  align-self-center">
            <img src="{% static 'images/home_page/menu_img.jpg' %}" class="card-img-top card-home-img" alt="2 dishes of food with fresh ingredients"/>
            <div class="card-body">
              <p class="home-card-text">Menu</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 justify-content-center mb-5 d-flex">
        <a href="">
          <div class="card card-home text-center card-home-container">
            <img src="{% static 'images/home_page/booking-card-img.webp' %}" class="card-img-top card-home-img" alt="2 dishes of food with fresh ingredients"/>
            <div class="card-body">
              <p class="home-card-text">Booking</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 justify-content-center d-flex align-self-center mb-5">
        <a href="">
          <div class="card card-home text-center card-home-container">
            <img src="{% static 'images/home_page/review-img.jpg' %}" class="card-img-top card-home-img" alt="2 dishes of food with fresh ingredients" />
            <div class="card-body">
              <p class="home-card-text">Review</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
