{% extends 'base.html' %}
{% block title %}
| Home page
{% endblock %}

{% block metadata %}
<meta name="description" content="Home page, welcome to Ember and Ash! Ready for a fantastic restaurant experience? Make your booking now!" />
{% endblock %}

{% block content %}
  {% load static %}
  <div class="container mb-5">
    <div class="row">
      <div class="col-12 hero-img-container">
        <img class="hero-img" src="{% static 'images/home-page/hero-img.jpg' %}" alt="Elegant dining area" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center card-home-container">
      <div class="col-12 col-md-6 col-lg-4 justify-content-center d-flex align-self-center mb-5">
        <a href="{% url 'menu' %}">
          <div class="card card-home text-center  align-self-center">
            <img src="{% static 'images/home-page/menu-img.jpg' %}" class="card-img-top card-home-img" alt="2 dishes of food with fresh ingredients"/>
            <div class="card-body">
              <p class="home-card-text">Menu</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 justify-content-center mb-5 d-flex">
        <a
        {% if user.is_authenticated %}
                href="{% url 'booking_form'%}"
                {% else %}
                href="{% url 'trigger_login_message' %}" 
                {% endif %}
        >
          <div class="card card-home text-center card-home-container">
            <img src="{% static 'images/home_page/booking-card-img.webp' %}" class="card-img-top card-home-img" alt="2 dishes of food with fresh ingredients"/>
            <div class="card-body">
              <p class="home-card-text">Booking</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 justify-content-center d-flex align-self-center mb-5">
        <a target="_blank" href="https://www.tripadvisor.co.uk/">
          <div class="card card-home text-center card-home-container">
            <img src="{% static 'images/home_page/review-img.jpg' %}" class="card-img-top card-home-img" alt="2 dishes of food with fresh ingredients" />
            <div class="card-body">
              <p class="home-card-text">Review</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
